*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    width: 60px;
    height: 40px;
    margin-top: 80px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: orange;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
.App{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    margin-top: 200px;
}
input{
    height: 80px;
    font-size: 80px;
    width: 360px;
}




h1{
   transform: translateX(-160px);
   font-size: 60px;

}
.int1{
    background-color: #000;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}
.int2{
    background-color: rgb(255, 166, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;

}


